* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: linear-gradient(70deg, #fdb33bd0 0%, #ffbc509b 100%);*/
    background-color: #6c5ce76e;
    display: flex;
    user-select: none;
}

.menu {
    width: 15%;
    height: 100vh;
    position: relative;
}

.menu menu {
    position: fixed;
    top: 50%;
    padding: 30px;
    transform: translateY(-50%);
    width: 15%;
}

.menu menu ul {
    list-style: none;
    width: 100%;
}

.menu a {
    text-decoration: none;
    outline: none;
}

.menu menu ul li {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    opacity: 1;
    background-color: #6c5ce76e;
}

.menu ul li i {
    margin-right: 15px;
    width: 10px;
    color: rgb(78, 78, 78);
    color: white;
    line-height: 25px;
}

.menu ul li h4 {
    color: rgb(78, 78, 78);
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}

.cont {
    width: 100%;
    display: flex;
}

.container {
    width: 84%;
    position: relative;
    background-color: white;
    height: 96vh;
    margin-top: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #6c5ce7c5 0%, #ffd1ff 50%, #6c5ce76e 100%);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #6c5ce7c5;
}

.container {
    overflow-x: hidden;
    overflow-y: auto;
}

.deposit-card a {
    position: absolute;
    left: 40px;
    top: 30px;
    outline: none;
    color: #6c5ce7;
}

.deposit-card a i {
    font-size: 25px;
}

.deposit-card {
    position: relative;
    width: 800px;
    border: 4px solid #ffd1ff;
    margin-bottom: 50px;
    color: #6c5ce7;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    display: block;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.deposit-card h2 {
    margin-top: 20px;
}

.deposit-card h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.deposit-card input {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    outline: none;
    padding: 10px;
}

.deposit-card input::placeholder {
    color: #6c5ce7;
}

.deposit-card input[type="text"] {
    border: 1px #6c5ce7 solid;
    color: #6c5ce7;
    border-radius: 10px;
}

.deposit-card input[type="submit"] {
    color: white;
    background-color: #6c5ce7;
    border: 1px #6c5ce7 solid;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .menu ul li h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 1500px) {
    .deposit-card {
        width: 600px;
    }
    .menu ul li h4 {
        display: none;
    }
    .menu ul li i {
        font-size: 20px;
        margin-right: 0px;
        margin-left: 0px;
        transform: translateX(-50%);
    }
    #i3 {
        font-size: 26px;
    }
}

@media screen and (max-width: 850px) {
    .deposit-card {
        margin-bottom: 100px;
        width: 500px;
    }
    .cont {
        display: block;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .menu {
        width: 100%;
        height: 70px;
        position: relative;
    }
    .menu menu {
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 20px;
    }
    .menu menu ul {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .menu menu ul li {
        display: flex;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px 20px;
        margin-top: 0px;
        text-align: center;
        justify-content: center;
    }
    #i3 {
        font-size: 26px;
    }
    menu a {
        margin-left: 10px;
        margin-right: 10px;
    }
    body {
        overflow-y: hidden;
    }
    .container {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 650px) {
    .deposit-card {
        margin-bottom: 100px;
        width: 400px;
    }
    .deposit-card h1 {
        font-size: 23px;
    }
    .deposit-card a {
        top: 27px;
    }
    .deposit-card a i {
        font-size: 20px;
    }
    .deposit-card h2 {
        font-size: 18px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .deposit-card h1 {
        font-size: 20px;
    }
    .deposit-card h2 {
        font-size: 12px;
        width: 100%;
    }
    .deposit-card h3 {
        font-size: 14px;
    }
    .deposit-card a {
        top: 17px;
        left: 15px;
    }
    .deposit-card {
        margin-bottom: 100px;
        width: 250px;
        padding: 10px;
    }
    .menu ul li i {
        font-size: 13px;
        transform: translateX(-50%);
    }
    .menu {
        width: 100%;
        height: 60px;
        position: relative;
    }
    .menu menu {
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 10px 20px;
    }
    .menu menu ul {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .menu menu ul li {
        padding: 10px 10px 10px 15px;
        margin-top: 0px;
        text-align: center;
        justify-content: center;
    }
    menu a {
        margin-left: 5px;
        margin-right: 5px;
    }
    #i3 {
        font-size: 17px;
    }
}

@media screen and (max-width: 350px) {
    .deposit-card {
        margin-bottom: 100px;
        width: 220px;
        padding: 10px;
    }
    .deposit-card {
        background-color: white;
    }
    .menu ul li i {
        font-size: 11px;
    }
    .menu {
        height: 40px;
    }
    .menu menu ul li {
        padding: 2px 2px 2px 10px;
    }
    menu a {
        margin-left: 2px;
        margin-right: 2px;
    }
    #i3 {
        font-size: 16px;
    }
    .container {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        overflow: unset;
        overflow-x: hidden;
        margin-left: 0px;
    }
}